/* balise html 5 */
html {
    background-image: url(ressources/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    height: 3rem;
    width: 20rem;
    background-color: aqua;
    padding-top: 1.5rem;
    text-align: center;
    margin: 0;
}

footer {
    height: 4rem;
    background-color: rgba(29, 29, 29, 0.541);
}

/* class */

.titlebanner {
    background-color: transparent;
}

.banner {
    height: 30rem;
    width: 100%;
}

.spacer {
    width: 100%;
    height: 10rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.small {
    width: 25%;
    height: 100%;
    background-image: url(ressources/1.jpg);
    background-size: cover;
    background-position: center;
}

.medium {
    height: 100%;
    width: 75%;
    background-color: rgba(29, 29, 29, 0.6);
}

.large {
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.6);
}

.largeclear {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.titlesite {
    font-size: 30pt;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 0;
}

.titlearticle {
    font-size: 15pt;
    text-align: left;
    padding: 1rem;
}

.bodyarticle {
    font-size: 12pt;
    text-justify: distribute;
    padding: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.alignh {
    justify-content: center;
}

.margintop {
    margin-top: 1rem;
}


.mapouter{
	position:relative;
	top:center;
}

.article-video__media{
	
	width:780px;
	height:440px;
	margin-left: auto;
	margin-right:auto;
}

.article-video__video {
	width: 100%;
	height: 100%;
}
/=====================contact============================/

* {
    box-sizing: border-box;
	
}


#form{
	position: relative;
	top: 0,5px; left: 0.5px;
	background-color: white;
}

h1{
text-align:center;}

.link
{
	border-bottom:3px solid yellow;
	width:630px;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
}

.Ben{
	display:row;
	text-align:center;
	color:white;
	font-style:gras;
}

.content {
    padding: 1em;
    margin: 1.5em 25%;
    background: white;
    font-family:system-ui;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
	
}
.content a {
    text-decoration: none;
    transition: color 0.25s ease-out;
    color: #5a9cc7;
}
.content a:hover {
    color: #478dc7;
}
.content ul {
    list-style: none;
    margin: 0;
    padding-left: 1em;
}
.content ul li::before {
    content: "– ";
}
.columns {
    display: flex;
    justify-content: center;
    width: 100%;
}
.column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
}

/* dropdown menu */

.dropbtn {
    background-color: rgb(209, 169, 39);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {    background-color: rgb(209, 169, 39);}


  /* ID */

  #navf>li {
      display: inline;
      margin: 1rem;
      padding-top: 1rem;
  }

  #menuicon {
      width: 2rem;
      height: 2rem;
  } 
